{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'ui/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'ui/css/navbar.css' %}">
  {% block css %}
  {% endblock %}
  <title>Magick App</title>
</head>

<body>
  {% include 'partials/_navbar.html' %}
  {% block content %}
  {% endblock %}

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  {% block js %}
  {% endblock %}
</body>

</html>