<nav class="navbar">
  <p class="navbar-brand">Placeholder Inc.</p>
  <span></span>
  <ul class="nav">
    <li class="nav-item">
      <a href="{% url 'home:home_page' %}">Home</a>
    </li>
    <li class="nav-item">
      <a href="#" target="_blank">Link</a>
    </li>
    <li class="nav-item">
      <a href="#" target="_blank">Link</a>
    </li>
  </ul>
</nav>