{% extends 'base.html' %}

{% block css %}
{% endblock %}

{% block content %}
<h2>Mounts App</h2>
<ul class="mount-list">
  {% for m in mounts %}
  <li>
    <div class="mount-list-item">
      <a href="{% url 'mounts:mount-detail' m.id %}">
        <h2 class="item-name">{{ m.name }}</h2>
      </a>
      <img class="item-url" src="https://xivapi.com{{ m.icon }}" alt="mount" />
    </div>
  </li>

  {% endfor %}
</ul>
{% endblock %}

{% block js %}
{% endblock %}