{% extends 'base.html' %}

{% block css %}
{% endblock %}

{% block content %}
<h1>{{ mount.name }}</h1>
<img src="https://xivapi.com{{mount.icon}}" alt="icon-small">
<h3>{{ mount.description }}</h3>
{% endblock %}

{% block js %}
{% endblock %}