.navbar {
  display: grid;
  grid-template-columns: 300px 10px 1fr;
  margin: 50px 50px;
  background-color: #7440BD;
  height: 10vh;
  border-radius: 5px;
}

.navbar span {
  background-color: #fff;
}

.navbar-brand {
  font-size: 1.6em;
  color: #fff;
  align-self: center;
  justify-self: center;
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  border-radius: 5px;
}

.nav-item {
  display: grid;
  /* border: 2px #6234A9 dashed; */
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.nav a {
  height: 100%;
  text-decoration: none;
  color: #fff;
  text-align: center;
  line-height: 9vh;
  font-weight: 700;
  border-radius: 5px;
}

.nav a:hover {
  border-left: dashed #7440BD 1px;
  border-right: dashed #7440BD 1px;
  color: #6234A9;
  background-color: #fff;
}

