{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'home/css/home_page.css' %}">
{% endblock %}

{% block content %}
<div class="news-container">

  <ul class="news-list">
    {% for a in news_articles %}
    <li id="test_article">
      <a href="https://na.finalfantasyxiv.com{{ a.url }}" class="news-link" target="_new">
        <img src="{{ a.banner }}" alt="banner" width="300">
      </a>
    </li>
    {% endfor %}
  </ul>

  <ul class="news-list">
    {% for n in notices %}
    <li>
      <h3>{{ n.title }}<span>{{ n.time }}</span></h3>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}

{% block js %}
<script>
  const API_KEY = "{{ key }}";
</script>
{% endblock %}